*.vsdx
doc/~$тановка-и-настройка-Openconnect-Сервер-на-Дебиан12.6.doc
doc/~WRL3646.tmp
doc/Протокол-создания-сертификатов-в-Дебиан-12.txt
txt/ПротоколСозданияСертификатовДебиан11-5.txt
txt/установкаинастройкаOpenconnectСервернаДебиан12.6 — копия.txt
txt/установкаинастройкаOpenconnectСервернаДебиан12.6.txt
txt/установкаOpenconnect.txt
